* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
}
/* div {
    border: 1px solid black;
} */
 .student{
    text-align: center;
 }
.cal-container {
    width: fit-content;
    margin: 1rem auto;
    margin-top: 100px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 0.5rem;
    box-shadow: 5px 5px 10px grey;
}
.cal-screen {
    border-radius: 10px;
    border: 2px solid black;
    text-align: right;
    padding: 0.5rem;
    margin-bottom: 1rem;
    background-color: rgb(191, 241, 239);
}
.cal-btn {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.3rem;
    border-radius: 10px;
    
}
.cal-btn:active {
    background-color: orange;
    transition: 1;
    box-shadow: 0 0 5px black;
}

.cal-btn-green {
    background-color: rgb(115, 255, 115);
}
.cal-btn-blue {
    background-color: rgb(115, 115, 255);
}
.cal-btn-orange {
    background-color: rgb(255, 165, 0);
}
.cal-btn-red {
    background-color: rgb(255, 115, 115);
}