.product-container{
    width: 55%;
    border: 1px solid rgb(80, 80, 80);
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: auto;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.25);
    text-align: center;
}


.item-product-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    overflow-y: auto;
    height: 560px;
    align-items: start;
}